@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-tmp {
    @apply grid grid-cols-[repeat(auto-fill,minmax(215px,1fr))] gap-4 pt-4 px-10 sm:px-0
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #27272a;
  color: white;
}
input{
  color: black;
}
